<%- include('../partials/header'); -%>
<%- include('../partials/menu') %>
<body>
  <main>
    <% if (person) {
        var info = '<div class="container"><center><h1 style="padding: 2%;">' + person[0].pers_first_name + ' ' + person[0].pers_last_name + '</h1></center>';
        info += '<center><table class="table table-sm" style="width:50%;"><tr><th>Military ID</th><th>' + person[0].pers_military_id + '</th></tr>';
        if (person[0].comm_officer) {
            info += '<tr><th>Commanding Officer</th><th><a href="/personnel?mid=' + person[0].comm_officer + '">' + person[0].comm_officer_first_name + ' ' + person[0].comm_officer_last_name + '</a></th></tr>';
        }
        info += '<tr><th>Location</th><th>' + person[0].pers_location + '</th></tr>';
        info += '<tr><th>Unit</th><th>' + person[0].pers_unit + '</th></tr>';
        info += '<tr><th>Availability</th><th>' + person[0].pers_available + '</th></tr></table></div></center>';
       } %>
    <%- info %>
    <div class="container">
        <table class = "table"> 
          <% if (items) {
            var table = '<h3 style="padding: 2%;"><center>Competencies</center></h3><tr><th>Comp Model</th><th>Competency</th><th>Sub Comp</th><th>Proficiency</th><th>Status</th></tr>';
            items.forEach(i => {
              table = table + "<tr><td><a href='/competency_model?model_id=" + i.comp_model_id + "'>" + i.comp_model_name + "</a></td>";
              table = table + "<td>" + i.comp_name + "</td>";
              table = table + "<td>" + i.sub_comp_name + "</td>";
              table = table + "<td>" + i.prof_level + "</td>";
              table = table + "<td>" + i.stat + "</td></tr>";
            });
           } %>
           <%- table %>
        </table>
        <!-- Inspiration from https://getbootstrap.com/docs/4.0/components/modal/ -->
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newComp">
            Add New Competency
        </button>
        
        <!-- Modal -->
        <div class="modal fade" id="newComp" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form action="/newComp" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add New Competency</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <label for="newModel">Competency Model</label>
                        <select class="custom-select" id="newModel" name="newModel">
                            <% if (model) {
                                var dropdown = "";
                                model.forEach(i => {
                                    dropdown += '<option value="' + i.comp_model_id + '">' + i.comp_model_name + '</option>';
                                });
                                } %>
                            <%- dropdown %>
                        </select>
                        <br>
                        <label for="newComp">Competency</label>
                        <select class="custom-select" id="newComp" name="newComp">
                            <% if (comp) {
                                var dropdown = "";
                                comp.forEach(i => {
                                    dropdown += '<option value="' + i.comp_id + '">' + i.comp_name + '</option>';
                                });
                                } %>
                            <%- dropdown %>
                        </select>
                        <br>
                        <label for="newSubComp">Sub Competency</label>
                        <select class="custom-select" id="newSubComp" name="newSubComp">
                            <% if (sub) {
                                var dropdown = "";
                                sub.forEach(i => {
                                    dropdown += '<option value="' + i.sub_comp_id + '">' + i.sub_comp_name + '</option>';
                                });
                                } %>
                            <%- dropdown %>
                        </select>
                        <br>
                        <label for="newProf">Proficiency</label>
                        <select class="custom-select" id="newProf" name="newProf">
                            <% if (prof) {
                                var dropdown = "";
                                prof.forEach(i => {
                                    dropdown += '<option value="' + i.prof_level_id + '">' + i.prof_level + '</option>';
                                });
                                } %>
                            <%- dropdown %>
                        </select>
                        <% var str = "<input type='hidden' id='add_comp_pers_id' name='add_comp_pers_id' value='" + person[0].pers_id + "'>";
                        %>
                        <%- str %>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>
    <div class="container">
        <table class = "table"> 
          <% if (underlings) {
            var table2 = '<h3 style="padding: 2%;"><center>Commanding</center></h3><tr><th>First Name</th><th>Last Name</th><th>MID</th></tr>';
            underlings.forEach(i => {
              table2 = table2 + "<tr><td><a href='/personnel?mid=" + i.pers_military_id + "'>" + i.pers_first_name + "</a></td>";
              table2 = table2 + "<td><a href='/personnel?mid=" + i.pers_military_id + "'>" + i.pers_last_name + "</a></td>";
              table2 = table2 + "<td><a href='/personnel?mid=" + i.pers_military_id + "'>" + i.pers_military_id + "</a></td></tr>";
            });
           } %>
           <%- table2 %>
        </table>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newPers">
            Add New Personnel
        </button>
        
        <!-- Modal -->
        <div class="modal fade" id="newPers" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form class="" action="/newPers" method="post">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add New Personnel</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <input class="form-control" type="text" name="add_first_name" placeholder="First Name" required>
                        <br>
                        <input class="form-control" type="text" name="add_last_name" placeholder="Last Name" required>
                        <br>
                        <input class="form-control" type="text" name="add_mid" placeholder="Military ID" required>
                        <br>
                        <input class="form-control" type="text" name="add_location" placeholder="Location" required>
                        <br>
                        <input class="form-control" type="text" name="add_unit" placeholder="Unit" required>
                        <br>
                        <input class="form-control" type="text" name="add_rank" placeholder="Rank" required>
                        <br>
                        <input type="radio" id="available" name="add_availability" value="1" required>
                            <label for="available">Available</label><br>
                            <input type="radio" id="unavailable" name="add_availability" value="0">
                            <label for="unavailable">Unavailable</label><br>
                        <br>
                        <% var str = "<p> This person will be created with commanding officer " + person[0].pers_first_name + " " + person[0].pers_last_name + "</p>";
                            str += "<input type='hidden' id='add_commanding_officer' name='add_commanding_officer' value='" + person[0].pers_id + "'>";
                        %>
                        <%- str %>
                        <br>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>
    <div class="container">
        <table class = "table"> 
          <% if (pending) {
            var table3 = '<h3 style="padding: 2%;"><center>Pending Requests</center></h3><tr><th>Name</th><th>Comp Model</th><th>Competency</th><th>Sub Comp</th><th>Proficiency</th><th>Accept</th><th>Decline</th></tr>';
            pending.forEach(i => {
              table3 = table3 + "<tr><td>" + i.pers_first_name + " " + i.pers_last_name + "</td>";
              table3 = table3 + "<td>" + i.comp_model_name + "</td>";
              table3 = table3 + "<td>" + i.comp_name + "</td>";
              table3 = table3 + "<td>" + i.sub_comp_name + "</td>";
              table3 = table3 + "<td>" + i.prof_level + "</td>";
              table3 = table3 + "<td><button class='btn btn-success'>Accept</button></td>";
              table3 = table3 + "<td><button class='btn btn-danger'>Decline</button></td></tr>";
            });
           } %>
           <%- table3 %>
        </table>
    </div>
  </main>
<%- include('../partials/footer'); -%>

